<!-- Services Section -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">About</h2>
                <p class="proj-about text-semi-muted">The mission of The Nude Diabetes Advocacy Project is to promote awareness, connect people living with type one diabetes (T1D), and fundraise for both local and global diabetes organizations. Living with T1D changes a person's body, and the <nobr>T1D Exposed calendar</nobr> features tasteful nude portraits of individuals embracing those changes.</p> 
                <p class="proj-about text-semi-muted">Creating <nobr>T1D Exposed</nobr> has been a powerful experience for everyone involved. It can be so hard to shed the clothes and shed the shame that is associated with our bodies. Thank you to all the participants for embracing this opportunity. Your willingness to share your bravery and self acceptance is truly inspiring to the T1D community. Your type one bodies are beautiful, diverse, capable, and embraced.</p>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-sm-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-camera fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Our Models</h4>
                <p class="text-semi-muted">All the T1D Exposed participants strive to embrace their lives and bodies with type 1 diabetes every day.</p>
            </div>
            <div class="col-sm-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-dollar fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Proceeds</h4>
                <p class="text-semi-muted">All proceeds from T1D Exposed will be donated to <a href="http://carbdm.org"><nobr>Carb DM</nobr></a> and <a href="http://dyf.org/">DYF</a>, as well as other local and global diabetes organizations.</p>
            </div>
            <div class="col-sm-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-male fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Advocacy</h4>
                <p class="text-semi-muted">This projects connects people living with T1D, promotes awareness of type one, and raises funds for the T1D community.</p>
            </div>
        </div>
        <div class="text-center">
            <h2 class="not-first section-heading">In The Media</h2>
            <a href="http://insulinnation.com/living/baring-all-for-type-1-diabetes/" target="_blank">InsulinNation</a> –
            <a href="http://www.healthline.com/diabetesmine/showing-skin-for-t1d-exposed-the-nude-diabetes-advocacy-calendar" target="_blank">Healthline</a> –
            <a href="https://carbdm.com/behind-the-scenes-of-t1d-exposed-the-making-of-a-nude-fundraiser-calendar/" target="_blank">Carb DM</a> –
            <a href="http://www.irunoninsulin.com/?p=8415" target="_blank">I Run On Insulin</a>
        </div>
    </div>
</section>