 <!-- Buy Modal -->
<div class="modal fade" id="buy" tabindex="-1" role="dialog" aria-labelledBy="buyModalTitle" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="buyModalTitle">Buy Calendar</h4>
            </div>
            <div class="modal-body">
                <label class='calendar-purchase-desc'>Celebrate National Diabetes Awareness Month by puarchasing your ${{site.calendarPrice}}.00 calendar. 2015 T1D Exposed Calendars will begin shipping on Dec 15th, 2014.</label>
                <table>
                    <tr>
                        <th>Item</th>
                        <td>2015 <i>T1D Exposed</i> Calendar</td>
                    </tr>
                    <tr>
                        <th>Price</th>
                        <td>${{ site.calendarPrice }}.00</td>
                    </tr>
                    <tr>
                        <th>Shipping<span class="text-muted">*</span></th>
                        <td>$3.50</td>
                    </tr>
                </table>
                <label class="text-muted">*If you live near Oakland, CA, you may opt to pick up the calendar directly and avoid the shipping cost.</label>
            </div>
            <div class="modal-footer">
                <form class="form-horizontal" role="form" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                    <input type="hidden" name="cmd" value="_xclick">
                    <input type="hidden" name="business" value="t1dexposed@gmail.com">
                    <input type="hidden" name="lc" value="US">
                    <input type="hidden" name="item_name" value="T1D Exposed 2015 Calendar">
                    <input type="hidden" name="amount" value="20.00">
                    <input type="hidden" name="currency_code" value="USD">
                    <input type="hidden" name="button_subtype" value="services">
                    <input type="hidden" name="no_note" value="0">
                    <input type="hidden" name="shipping">
                    <table><tr><td>
                        <div class="form-group quantity-container">
                            <label for="calendar-quantity" class="col-sm-4 col-sm-offset-2 control-label">Quantity:</label>
                            <div class="col-sm-3">
                                <input type="text" class="col-sm-3 form-control" id="calendar-quantity" name="quantity" maxlength="2" value="1">
                            </div>
                        </div>
                    </td></tr></table>
                    <table><tr><td><label>Shipping Option:</label></td></tr><tr><td><select name="shipping">
                        <option value="3.50">Standard Shipping - $3.50</option>
                        <option value="0">Local Pick-Up - Free</option>
                    </select> </td></tr></table>
                    <input type="hidden" name="bn" value="PP-BuyNowBF:btn_buynowCC_LG.gif:NonHostedGuest">
                    <input type="image" class="paypal-buy-now" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                </form>

            </div>
        </div>
    </div>
</div>
