  <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center">
                    <span class="footer-text">Copyright &copy; {{ site.title }} 2014</span>
                </div>
                <div class="col-md-6 text-center">
                   <span class="footer-text">Check us out <a href="https://www.facebook.com/pages/T1D-Exposed-The-Nude-Diabetes-Advocacy-Project/885658724780433" target="_blank">on Facebook</a>
                </div>
            </div>
        </div>
    </footer>