 <!-- jQuery Version 1.11.0 -->
    <script src="{{ "/js/jquery-1.11.0.js" | prepend: site.baseurl }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>

    <!-- Plugin JavaScript -->
    <script src="{{ "/js/jquery.easing.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/classie.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/cbpAnimatedHeader.js" | prepend: site.baseurl }}"></script>

    <!-- Contact Form JavaScript -->
    <script src="{{ "/js/jqBootstrapValidation.js" | prepend: site.baseurl }}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{{ "/js/agency.js" | prepend: site.baseurl }}"></script>

    <!-- Script to show/hide More Info questions -->
    <script type="text/javascript">
        $(function(){
            $('.expand-info-desc').click(function(){
                var desc = $('.info-desc[data-desc='+$(this).data('desc')+']');
                if (desc.is(':visible')) {
                    desc.slideUp();
                } else {
                    desc.slideDown();
                }
                $(this).toggleClass('shown');
            });
        });
    </script>

    <!-- Script update total price when quantity changes -->
    <script type="text/javascript">

        function quantityError() {
            $('.quantity-container.form-group').addClass('has-error');
            $('input.paypal-buy-now').attr('disabled', 'disabled');
        }

        $(function(){
            $('#calendar-quantity').change(function() {
                var quantity = $(this).val();
                var price = parseInt({{site.calendarPrice}});
                var total = 0;
                var match = quantity.match(/[0-9][0-9]?/g)
                if (match && match[0].length == quantity.length) {
                    quantity = parseInt(quantity);
                    if (quantity > 0) {
                        $('.quantity-container.form-group').removeClass('has-error');
                        $('input.paypal-buy-now').removeAttr('disabled');
                        total = quantity * price;
                    } else {
                        quantityError();
                    }
                } else {
                    quantityError();
                }
            });
        });
    </script>


    <!-- Script to setup model info popover -->
    <script type="text/javascript">
        $(function(){
            $('.team-member').popover({
                placement: 'bottom',
                trigger: 'hover click',
                html: true,
                content: function() {
                    return ['<div class="member-popover">',

                        '<h4>'+$(this).data('name')+'</h4>',

                        '<h5 class="section-subheading text-semi-muted">',
                        $(this).data('occupation'),
                        '</h5>',

                        '<p class="text-semi-muted">Living with T1D for ',
                        $(this).data('years'),
                        ' year',
                         ($(this).data('years')>1)?'s':'',
                         '.</p>',

                        '</div>'
                    ].join('')
                }
            });
        });
    </script>

    <!-- Script to setup model info popover -->
    <script type="text/javascript">
        $(function(){
            if (window.location.search === "?sfw=1") {
                $('header').addClass('no-img');
            }
        });
    </script>