<!-- Portfolio Grid Section -->
<section id="links">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">More Info</h2>

                <h3>
                    What is Type 1 Diabetes (T1D)?
                    <i class="fa fa-chevron-circle-left expand-info-desc" data-desc="1"></i>
                </h3>  
                <p class="text-semi-muted info-desc" data-desc="1">At onset of this autoimmune disorder, the pancreas stops producing insulin. To survive, fingers must be pricked multiple times daily to check blood glucose levels, sometimes in conjunction with wearing a continuous glucose monitor, and insulin must be injected daily, or an insulin pump must be worn to administer continuous boluses of insulin.</p>
                
                <h3>
                    How does it affect the body?
                    <i class="fa fa-chevron-circle-left expand-info-desc" data-desc="2"></i>
                </h3>
                <p class="text-semi-muted info-desc" data-desc="2">When blood glucose gets too high, a person can become nauseous, dehydrated, and develop life-threatening ketones, which over time, can lead to serious complications.  A person can easily consume thousands of calories each year to raise blood glucoses that are too low. Carbohydrates must be counted, food tracked and weighed, then balanced with a calculated insulin dose. Bodies develop bruises and scar tissue from thousands of injections, pump sites, and continuous glucose monitors. Fingers callous from years of blood glucose checking.</p>
                
                <h3>
                    How do people with T1D manage the disease?
                    <i class="fa fa-chevron-circle-left expand-info-desc" data-desc="3"></i>
                </h3>
                <p class="text-semi-muted info-desc" data-desc="3">Living with T1D changes a person's body. People with T1D experience a constant roller coaster of high and low blood sugar fluxes. Diabetes can also inspire people to take better care of themselves in incredible ways.  People may decide to be more active or eat healthier as they become more in tune with their bodies. Recognizing the importance of mental health and self care is another valuable lesson learned from living with a chronic illness. Regardless of the challenges, people living with T1D have able, working bodies that live on balancing synthetic hormone injections, food intake, and exercise. Gratitude is another side effect of type one; without the discovery and availability of insulin, none of the bodies in this calendar would have survived long after diagnosis.</p>

                <hr/>
                <h3 class="section-subheading text-semi-muted">If you're interested in learning more about Type I Diabetes and Diabetes research, take a look at some of the following links.</h3>
            </div>
        </div>
        <div class="row">
        {% for link in site.links %}
            <div class="col-md-4 link-item">
                <a href="{{link.url}}" target="_blank">
                    <div class="link-icon">
                        <img src="img/link-icons/{{link.icon}}" />
                    </div>
                    <div class="link-desc">
                        {{link.desc}}
                    </div>
                </a>
            </div>
        {% endfor %}
        </div>
    </div>
</section>