<!-- Sponsors Section -->
<section id="sponsors" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Sponsors</h2>
                <h3 class="section-subheading text-semi-muted">A heartfelt thank you to our sponsors for helping to support this project.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1 col-md-offset-1"></div>
        {% for sponsor in site.sponsors %}
            <div class="col-md-2 col-xs-3 link-item">
                <a href="{{sponsor.url}}" target="_blank">
                    <div class="link-icon">
                        <img src="img/sponsor-icons/{{sponsor.icon}}" />
                    </div>
                </a>
            </div>
        {% endfor %}
        </div>
    </div>
</section>