<!-- Team Section -->
<section id="models" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Our Amazing Models</h2>
            </div>
        </div>
        <div class="row">
            {% for member in site.people %}
            <div class="col-xs-6 col-sm-{{ 12 | divided_by:site.peoplePerRow }}">
                <div class="team-member">
                    <img src="img/team/{{ member.pic }}_square_small.jpg" class="img-responsive img-circle" alt="">
                </div>
            </div>
        {% capture modulo %}{{ forloop.index | modulo:site.peoplePerRow }}{% endcapture %}
        {% if modulo == '0' %}

        </div>
        <div class='row'>

        {% endif %}
            {% endfor %}
        </div>
    </div>
</section>