<!-- Team Section -->
<section id="models" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Our Amazing 2018 Participants</h2>
            </div>
        </div>
        <div class="row">
            {% for member in site.people %}
            {% if forloop.index <= site.peopleInFirstRow %}
                <div class="col-xs-6 col-sm-{{ 12 | divided_by:site.peopleInFirstRow }}">
            {% else %}
                <div class="col-xs-6 col-sm-{{ 12 | divided_by:site.peoplePerRow }}">
            {% endif %}
                <div class="team-member" data-name="{{ member.name }}" data-occupation="{{ member.occupation }}" data-years="{{ member.yearsWithDiabetes }}">
                    <img src="img/team/{{ member.name }}.jpg" class="img-responsive img-circle" alt="">
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>